.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
padding: 20%;
    background-color: black;
    color: white;

  }

  h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.form_container{
    border: 1px solid white;
    border-radius: 30px;
    padding: 10%;
}